	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: #282828;
		}
		h1 {
		font-family: Arial;
		color: #d79921;
		}
		hr {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		background: #7c6f68; 
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		}
		table {
		table-layout:fixed;
		width: 70%;
		margin: 20px auto;
		border-collapse: collapse;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		}
		th {
		border-left: 3px solid  #d79921;
		font-family: Arial;
		color: #d79921;
		font-size: 25px;
		overflow:hidden;
		}
		table tr td:first-child, th:first-child{
		border-left: none;
		}
		td {
		padding: 0.6em;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		border: 3px solid  #d79921;
		overflow:hidden;
		}
		tbody tr:nth-child(3n+2) {
		border-top: 3px solid #d79921;
		}
		img {
		width: 60%;
	
		}
		.flex-fila {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;
		white-space: nowrap;
		}
		.flex-columna {
		display: flex;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		white-space: nowrap;
		}
		button {
		min-width: 40px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		height: 35%;
		width:  45%;
		background: none;
		border-radius: 50px;
		color: #d79921;
		font-size: 1rem;
	}

